/*Istruzioni per la presentazione della lista delle facoltà*/
#lista li:hover{
  background-color: #aaa;
  cursor: pointer;
}

#collapse_link{
  display: block;
}

#collapse_link:active,
#collapse_link:visited,
#collapse_link:link,
#collapse_link:hover {
  text-decoration: none;
  cursor: default;
}

#lista a,
#lista a:link,
#lista a:hover,
#lista a:visited,
#lista a:active {
  color: inherit;
  text-decoration: none;
  display: block;
}


/*Istruzioni per il corretto posizionamento del footer e per la sua presentazione*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  font-size: 80%;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ddd;
  margin: -50px auto 0 auto;
  padding-top: 5px;
}


#contact{
  display: inline-block;
  margin-left: 20px;
}

#disclaimer{
  margin-right: 20px;
}


#cont_ordine{
  margin-bottom: 5px;
}


.risultato img{
  max-width: 100px;
}


#logo_ubm{
  min-width: 155px;
}


#section{
	margin-bottom: 100px;
}

#tabella .td
{
	width: 200px;
	font-weight: bold;
	text-align: right;
	padding-right: 20px;
}

#tabella
{
	width: 500px;
}

#tabella td input
{
	margin: 8px 0;
}


/* Bottoni modifica ed elimina annuncio */


.btn-info.btn-outline {
    
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-info.btn-outline:hover{
	color: #fff;
}

/*Istruzioni in ricercaAnnuncio.jsp*/

.pagination{
	margin:0px;
}

div.containerResearchResults{
	display:none;
}

img.modalImageClasse{
	cursor:pointer;
}
  	/* The Modal (background) in ricercaAnnuncio.jsp*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    
      background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#imageModalDiv .modal{
	  overflow: auto; /* Enable scroll if needed */
}




/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  	
  	
  	/* Add Animation - Zoom in the Modal */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
#imageModalDiv .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#imageModalDiv .close:hover,
#imageModalDiv .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*Fine istruzioni ricerca annunci */

/*Istruzioni per l'adattamento della pagina a schermi più piccoli*/
@media screen and (max-width: 800px) {
    #disclaimer{
      display: none;
    }

    #footer_cont{
      text-align: center;
    }

    .risultato{
      text-align: center;
    }

    #collapse_link:hover{
      text-decoration: underline;
      cursor: pointer;
    }
    
   #containerFooterVisualizzaAnnuncio{
  	  padding-top:130px;
   }  
}   
    
  @media screen and (min-width: 820px) {
  	#containerFooterVisualizzaAnnuncio{
  	  padding-top:800px;
  	}
  
   }  
    
        

